<div class="container mx-auto" style="width: 600px;">
	<h3 class="text-center">商品一覧</h3>
	<font color="red">
	<%= flash[:notice_new] %>
	</font>
	<div class="row admin-item-index">
		<table class="table">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= item.name %></td>
					<td><%= item.price %></td>
					<td></td>
					<td>
						<% if item.is_sold? %>
							<p>売り切れ</p>
						<% else %>
							<p>販売中</p>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>