<div class="container mx-auto" style="width: 600px;">
	<div class="row">
		<h2 class="text-center">マイページ</h2>
	</div>
	<div class="row">
		<div class="col-3">
			<h4>登録情報</h4>
		</div>
		<div class="col-3">
			<h4>編集する</h4>
		</div>
		<div class="col-5">
			<h4>パスワードを変更する</h4>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>