保留
<!-- <div class="container">
	<div class="row item-index mx-auto">
		<h3 class="text-center">LINE UP</h3>
	<div class="col-3">
		<h5>ジャンル</h5>
		<table class="table">
		</table>
	</div>
	</div>
</div> -->